<h5>Tags</h5>
<div>
Some tags
</div>

<div class="clear spacer"></div>
<h5>Categories</h5>
<div>
Some categories
</div>

<div class="clear spacer"></div>
<h5>Search</h5>
<div>
    <form method="post" class="form-inline">
        <input type="text" class="input-medium" /> <button class="btn btn-primary">GO</button>
    </form>
</div>

<div class="clear spacer"></div>
