body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #FEFDFE;
  color: #333;
}

label, input, button, select, textarea {
  font-weight: 300;
}

.well {
  background-color: #FAFAFA;
}

.well.well-note {
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 5px solid #0088cc;
  color: #333;
}

.well h1, .well h2, .well h3, .well h4, .well h5, .well h6 {
  margin-top: 0;
}

.spacer {
  clear: both;
  height: 15px;
  width: 100%;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
  background-color: #FAFAFA;
}

.navbar {
  border-top: 5px solid #333333;
}

.navbar-inner {
  min-height: inherit;
}

.navbar .brand {
  font-family: 'Lobster Two', serif;
  font-size: 35px;
  color: #333333;
  line-height: 35px;
}

.navbar .label {
  margin-top: 5px;
  background-color: #0088cc;
  font-style: italic;
  font-size: 10px;
  line-height: 12px;
}

.navbar .nav li {
  margin-top: -5px;
  line-height: 35px;
  border-top: 5px solid #333333;
}

.navbar .nav > .active, .navbar .nav > li:hover {
  border-top: 5px solid #0088cc;
  background-color: #dadada;
}

#main h1, #main h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dadada;
}

.copy-container, .copy {
  font-size: 115%;
  line-height: 1.3em;
}

#main {
  margin-top: 20px;
}

#main .date-posted {
  border-top: 5px solid #0088cc;
  margin-top: 10px;
  text-align: center;
}

.date-posted p {
  margin: 0;
  padding: 5px;
}

.date-posted .month {
  font-size: 14px;
  background-color: #333333;
  color: white;
}

.date-posted .day {
  font-size: 20px;
  background-color: #dadada;
}

.label {
  font-size: 13px;
  line-height: 16px;
  padding: 4px 8px;
  font-weight: 400;
}

.label.tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #0088cc;
  color: white;
}

.btn-primary:hover {
  background-color: #dadada;
  color: #333;
}

.btn-primary:focus {
  background-color: #0088cc;
  color: white;
}

.label[href] {
  background-color: #0088cc;
  color: white;
}

.label[href]:hover {
  background-color: #dadada;
  color: #333;
}


.post-spacer {
  height: 50px;
}

.right-side.social span {
  font-size: 24px;
}

.right-side.copyright {
  font-weight: 300;
  color: #333;
}

div.right-side {
  margin-bottom: 25px;
}

.right-side.social .label[href] {
  border-top: 5px solid #333333;
}

.right-side.social .label[href]:hover {
  border-top: 5px solid #0088CC;
}

.right-side.archive dt {
  font-weight: 300;
  background-color: #dadada;
  color: #333;
  line-height: 30px;
  padding-left: 10px;
  margin: 15px 0 5px 0;
}

.right-side.archive dt:first-child {
  margin-top: 0;
}

.right-side.archive dd {
  margin: 0 0 5px 3px;
}

.comment h5 {
  margin-bottom: 0;
}

.comment .comment-body {
  margin: 0 0 5px 0;
  font-weight: 300;
}

.post-option .checkbox {
  margin-top: 23px;
}

.widget {
  height: 100%;
  border-top: 5px solid #333333;
}

.widget .me {
  border-radius: 100%;
  border: 2px solid white;
}

.widget.blue {
  background-color: #0088cc;
  color: white;
  text-align: center;
  padding: 20px;
}

@media only screen and (max-width: 900px) {
  .navbar .brand {
    font-size: 30px;
    line-height: 30px;
  }
  
  .navbar .nav li, .navbar .small-brand {
    line-height: 30px;
    border-top: 5px solid transparent;
  }
}

@media only screen and (max-width: 750px) {
  .navbar .brand {
    font-size: 20px;
    line-height: 20px;
  }

  .navbar .nav li, .navbar .small-brand {
    line-height: 20px;
  }
}

@media only screen and (max-width: 670px) {
  .navbar .brand {
    font-size: 20px;
    line-height: 20px;
  }

  .navbar .nav li, .navbar .small-brand {
    line-height: 20px;
  }
}

@media only screen and (min-width: 751px) {
  .navbar .small-brand {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .navbar .brand {
    display: none;
  }

  .navbar .small-brand {
    color: white;
    display: inline-block;
    float: left;
    padding: 5px 10px 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: #0088cc;
    text-decoration: none;
  }
}

@media only screen and (min-width: 901px) {
  .navbar .nav li i {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 900px) {
  .navbar .nav li.has-icon span {
    display: none;
  }
}

@media only screen and (max-width: 420px) {
  .navbar .brand {
    font-size: 15px;
    line-height: 15px;
  }

  .navbar .nav li, .navbar .small-brand {
    line-height: 15px;
  }
  
  .navbar .small-brand {
    padding: 5px 5px 10px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .navbar .small-brand {
    display: none;
  }
}

code, pre {
  font-family: "Inconsolata", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 14px !important;
}