.login-box { color: black; }
.container > .content-box { margin-left: 0; }
.navbar .sign-in.nav { margin-right: 0; }
.spacer { height: 10px; }
.well form { margin-bottom: 0; }
.post-author { font-size: 11px; }
.clear { clear: both; }
