{% extends 'VeonikBlogBundle:Admin:base.html.twig' %}

{% set title = 'Reset Password for ' ~ user %}

{% block content %}
    {% if user.username starts with 'github-' or user.username starts with 'twitter-' %}
<div class="alert">
    This user is an OAuth user. Changing the password will have no effect.
</div>
    {% endif %}
<form action="{{ path('orkestra_user_password_reset', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="well">

    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </p>
    </div>
</form>
{% endblock %}
