{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}


{% block title %}Reset Password{% endblock %}

{% block content %}
<form action="{{ path('orkestra_user_password_reset', { 'id': user.id }) }}" method="post" {{ form_enctype(form) }}>
    <div class="well">

    {{ form_widget(form) }}
    <p>
        <button type="submit" class="btn btn-primary">Change Password</button>
    </p>
    </div>
</form>
{% endblock %}
