{% spaceless %}
<ul class="pull-right nav">
    {% for item in menu.definition %}
        {% if not item.role|default or is_granted(item.role) %}
            {% if not item.not_role|default or not is_granted(item.not_role) %}
            {% set type = item.type|default('route') %}
            {% set route = type == 'route' ? item.route : 'page_or_post' %}
            {% set params = type == 'route' ? {} : { slug: item.route } %}
    <li class="{% if (type == 'route' and is_current_route(item.route)) or (type == 'page' and is_current_slug(item.route)) %}active{% endif %} {% if item.icon|default %}has-icon{% endif %}">
        <a href="{{ path(route, params) }}">
            {% if item.icon|default %}
            <i class="icon-{{ item.icon }}"></i>
            {% endif %}
            <span>{{ item.label }}</span>
        </a>
    </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}
