{% spaceless %}
<ul class="pull-right nav">
    {% for label,item in menu.definition %}
        {% if item.role is not defined or is_granted(item.role) %}
            {% if item.not_role is not defined or not is_granted(item.not_role) %}
    <li{% if is_current_route(item.route) %} class="active"{% endif %}>
        <a href="{{ path(item.route) }}">
            {% if item.icon is defined %}
            <i class="icon-{{ item.icon }}"></i>
            {% endif %}
            {{ label }}
        </a>
    </li>
            {% endif %}
        {% endif %}
    {% endfor %}
</ul>
{% endspaceless %}
